html {
    font-family: 'Spartan', sans-serif;
}
  
body {
    font-family: 'Spartan', sans-serif;
}
  
pre, code, kbd, samp {
    font-family: 'Spartan', sans-serif;
}
  
input, button, select, optgroup, textarea {
    font-family: 'Spartan', sans-serif;
}
  
.tooltip {
    font-family: 'Spartan', sans-serif;
}
  
.popover {
    font-family: 'Spartan', sans-serif;
}
  
.text-monospace {
    font-family: 'Spartan', sans-serif;
}

h1,h2,h3,h4{
    font-weight: 700;
}